@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}
    @Model List<EmployeePortal.Models.Entities.Employee>

    <h1>employees</h1>
    <a type="button" class="btn btn-primary" href="/Employees/Add" style="float: right;">Add</a>
    <table class="table">
    <thead>
    <tr>
    <th>id</th>
    <th>name</th>
    <th>gender</th>
    <th>email</th>
    <th>phone</th>
    <th>basicsalary</th>
    <th>hra</th>
    <th>convinience</th>
     <th>totalsalary</th>
     <th>city</th>
    </tr>
    </thead>
    <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Email</td>
                    <td>@employee.Phone</td>
                    <td>@employee.BasicSalary</td>
                    <td>@employee.Hra</td>
                    <td>@employee.Convenience</td>
                    <td>@employee.TotalSalary</td>
                    <td>@employee.City</td>
                    <td>
                        <a  asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

